body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
} 

nav {
  background-color: rgb(128, 25, 0) !important;
  min-height: 80px;
  width: 100%;
  /* color: rgb(240, 240, 240); */
}

nav a {
  /* color: white !important; */
  font-weight: bold;
}

@media ( min-width: 576px ) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

#loginModal .modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#loginModal .modal-body button {
  width: 10em;
  margin-bottom: 2em;
}

.welcome-info {
  width: 80%;
  padding: 2em 5em;
  align-self: center;
  text-align: center;
  font-size: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3em;
}

.dropdown {
  padding: 0 2em;
} 

.prod {
  padding-bottom: 2em;
}

.prod-image img {
  width: 100%;
  height: 100%;
}

.prod-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.rate {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
} 

.rate > button {
  width: 5em;
} 

.fa-star {
  color: rgb(255, 208, 0);
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.title-detail > button {
  margin-left: 2em;
  width: 5em;
} 

.product-detail .stars {
  align-self: center;
  font-size: 2em;
} 

footer {
  background-color: rgb(128, 25, 0);
  height: 80px;
  width: 100%;
  color: white;
} 